@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-decoration: none;
  outline: none;
  background: transparent;
}

:root {
  --theme-color: #aac049;
  --text-color: #191b1d;

  --btn-border: 1px solid #aac049;
  --border-radius: 5px;

  --transiton-btn: 1.5s;
} */

.container-signIn-signUp {
  position: absolute;
  top: 90px;
  width: 100%;
  height: calc(100vh - 12vh);
  background: #aac0495b;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  align-items: center;
  flex-wrap: wrap;
  display: none;
}

.container {
  width: 35%;
  /* min-width: 350px; */
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;
  color: var(--theme-color);
  background: var(--text-color);
  position: relative;
}

.cancel-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: 0.5s;
}

.cancel-btn:hover {
  background: var(--theme-color);
  color: var(--text-color);
}

.heaing {
  margin: 0.5rem 0;
  background: rgba(165, 42, 42, 0);
  font-size: large;
  font-weight: 700;
  text-align: center;
}

/* .input-form {
} */

.login-form {
  background: rgba(96, 84, 107, 0);
  display: flex;
  flex-direction: column;
}

input {
  border: var(--btn-border);
  border-radius: var(--border-radius);
  padding: 0.4rem 1rem;
  margin: 0.5rem;
  color: var(--theme-color);

  font-size: small;
  font-weight: 500;
}

input:focus {
  box-shadow: 0 0 5px #aac049;
}

input::placeholder {
  color: rgb(255, 255, 255);
  font-size: small;
  font-weight: 500;
}

.login-btn {
  border-radius: var(--border-radius);
  border: none;
  height: 30px;
  width: 100px;
  margin: 0.5rem;
  background: var(--theme-color);

  font-size: small;
  font-weight: 500;

  cursor: pointer;
  transition: 0.6s;
}

.login-btn:hover {
  box-shadow: 0 0 5px #aac049;
}

.alter-media {
  background: rgba(255, 192, 203, 0);
}

.social-media {
  background: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.reg-icon {
  padding: 0.3rem;
  margin: 0 0.5rem;
  border: var(--btn-border);
  border-radius: var(--border-radius);
  transition: 0.6s;
  cursor: pointer;
}

.reg-icon:hover {
  box-shadow: 0 0 5px #aac049;
}

/* responsive */

@media only screen and (max-width: 767px) {
  .container {
    width: 90%;
  }
}

@media only screen and (min-width: 767px) and (max-width: 991px) {
  .container {
    width: 90%;
  }
}
